In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
train_df = pd.read_csv('data/train_users_2.csv',header=0, index_col=None)
test_df = pd.read_csv('data/test_users.csv', header=0, index_col=None)

In [3]:
#combine
all_df = pd.concat((train_df, test_df), axis=0, ignore_index=True)

In [4]:
all_df.head()

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,date_first_booking,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,signup_flow,signup_method,timestamp_first_active
0,direct,direct,NaN,NDF,2010-06-28,NaN,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,0,facebook,20090319043255
1,seo,google,38.0,NDF,2011-05-25,NaN,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,Web,0,facebook,20090523174809
2,direct,direct,56.0,US,2010-09-28,2010-08-02,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,Web,3,basic,20090609231247
3,direct,direct,42.0,other,2011-12-05,2012-09-08,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,Web,0,facebook,20091031060129
4,direct,direct,41.0,US,2010-09-14,2010-02-18,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,Web,0,basic,20091208061105

# Clean Data

- Clean timestamp
- Remove booking date field
- Clean age column
- identify and fill missing data

In [5]:
# Clean timestamp

all_df['date_account_created'] = pd.to_datetime(all_df['date_account_created'], format='%Y-%m-%d')
all_df['timestamp_first_active'] = pd.to_datetime(all_df['timestamp_first_active'], format='%Y%m%d%H%M%S')
all_df['date_account_created'].fillna(all_df.timestamp_first_active, inplace=True)

In [6]:
# timestamp_first_active,date_account_created, and date_account_created' fixed
all_df.head()

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,date_first_booking,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,signup_flow,signup_method,timestamp_first_active
0,direct,direct,NaN,NDF,2010-06-28,NaN,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,0,facebook,2009-03-19 04:32:55
1,seo,google,38.0,NDF,2011-05-25,NaN,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,Web,0,facebook,2009-05-23 17:48:09
2,direct,direct,56.0,US,2010-09-28,2010-08-02,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,Web,3,basic,2009-06-09 23:12:47
3,direct,direct,42.0,other,2011-12-05,2012-09-08,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,Web,0,facebook,2009-10-31 06:01:29
4,direct,direct,41.0,US,2010-09-14,2010-02-18,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,Web,0,basic,2009-12-08 06:11:05

In [7]:
# Remove date_first_booking column
all_df.drop('date_first_booking', axis=1, inplace=True)

In [9]:
all_df.head()

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,signup_flow,signup_method,timestamp_first_active
0,direct,direct,NaN,NDF,2010-06-28,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,0,facebook,2009-03-19 04:32:55
1,seo,google,38.0,NDF,2011-05-25,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,Web,0,facebook,2009-05-23 17:48:09
2,direct,direct,56.0,US,2010-09-28,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,Web,3,basic,2009-06-09 23:12:47
3,direct,direct,42.0,other,2011-12-05,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,Web,0,facebook,2009-10-31 06:01:29
4,direct,direct,41.0,US,2010-09-14,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,Web,0,basic,2009-12-08 06:11:05

In [10]:
# Remove outliers function
def remove_outliers(df, column, min_val, max_val):
    col_values = df[column].values
    df[column] = np.where(np.logical_or(col_values<=min_val, col_values>=max_val), np.NaN, col_values)
    return df

# clean age column
all_df = remove_outliers(df=all_df, column='age', min_val=15, max_val=90)
all_df['age'].fillna(-1, inplace=True)

/home/salas/miniconda3/envs/kaggle/lib/python3.5/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in less_equal
  after removing the cwd from sys.path.
/home/salas/miniconda3/envs/kaggle/lib/python3.5/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in greater_equal
  after removing the cwd from sys.path.

In [12]:
all_df.head()

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,signup_flow,signup_method,timestamp_first_active
0,direct,direct,-1.0,NDF,2010-06-28,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,0,facebook,2009-03-19 04:32:55
1,seo,google,38.0,NDF,2011-05-25,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,Web,0,facebook,2009-05-23 17:48:09
2,direct,direct,56.0,US,2010-09-28,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,Web,3,basic,2009-06-09 23:12:47
3,direct,direct,42.0,other,2011-12-05,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,Web,0,facebook,2009-10-31 06:01:29
4,direct,direct,41.0,US,2010-09-14,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,Web,0,basic,2009-12-08 06:11:05

In [13]:
# fill missing data
all_df['first_affiliate_tracked'].fillna(-1, inplace=True)

In [14]:
all_df.head()

,affiliate_channel,affiliate_provider,age,country_destination,date_account_created,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,signup_app,signup_flow,signup_method,timestamp_first_active
0,direct,direct,-1.0,NDF,2010-06-28,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,Web,0,facebook,2009-03-19 04:32:55
1,seo,google,38.0,NDF,2011-05-25,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,Web,0,facebook,2009-05-23 17:48:09
2,direct,direct,56.0,US,2010-09-28,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,Web,3,basic,2009-06-09 23:12:47
3,direct,direct,42.0,other,2011-12-05,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,Web,0,facebook,2009-10-31 06:01:29
4,direct,direct,41.0,US,2010-09-14,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,Web,0,basic,2009-12-08 06:11:05

# Transformation & Feature Extraction

In [15]:
# transform categorical data

def convert_to_binary(df, column_to_convert):
    categories = list(df[column_to_convert].drop_duplicates())
    
    for category in categories:
        cat_name = str(category).replace(" ", "_").replace("(", "").replace(")", "").replace("/", "_").replace("-", "").lower()
        col_name = column_to_convert[:5] + '_' + cat_name[:10]
        df[col_name] = 0
        df.loc[(df[column_to_convert] == category), col_name] = 1

    return df

# One Hot Encoding
print("One Hot Encoding categorical data...")
columns_to_convert = ['gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']

for column in columns_to_convert:
    all_df = convert_to_binary(df=all_df, column_to_convert=column)
    all_df.drop(column, axis=1, inplace=True)

One Hot Encoding categorical data...

In [16]:
all_df.head()

,age,country_destination,date_account_created,id,timestamp_first_active,gende_unknown,gende_male,gende_female,gende_other,signu_facebook,...,first_theworld_b,first_slimbrowse,first_epic,first_stainless,first_googlebot,first_outlook_20,first_icedragon,first_ibrowse,first_nintendo_b,first_uc_browser
0,-1.0,NDF,2010-06-28,gxn3p5htnn,2009-03-19 04:32:55,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,38.0,NDF,2011-05-25,820tgsjxq7,2009-05-23 17:48:09,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,56.0,US,2010-09-28,4ft3gnwmtx,2009-06-09 23:12:47,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,42.0,other,2011-12-05,bjjt8pjhuk,2009-10-31 06:01:29,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,41.0,US,2010-09-14,87mebub9p4,2009-12-08 06:11:05,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Create New Features

In [18]:
# Add new date related fields
print("Adding new fields...")
all_df['day_account_created'] = all_df['date_account_created'].dt.weekday
all_df['month_account_created'] = all_df['date_account_created'].dt.month
all_df['quarter_account_created'] = all_df['date_account_created'].dt.quarter
all_df['year_account_created'] = all_df['date_account_created'].dt.year
all_df['hour_first_active'] = all_df['timestamp_first_active'].dt.hour
all_df['day_first_active'] = all_df['timestamp_first_active'].dt.weekday
all_df['month_first_active'] = all_df['timestamp_first_active'].dt.month
all_df['quarter_first_active'] = all_df['timestamp_first_active'].dt.quarter
all_df['year_first_active'] = all_df['timestamp_first_active'].dt.year
all_df['created_less_active'] = (all_df['date_account_created'] - all_df['timestamp_first_active']).dt.days

# Drop unnecessary columns
columns_to_drop = ['date_account_created', 'timestamp_first_active', 'date_first_booking', 'country_destination']
for column in columns_to_drop:
    if column in all_df.columns:
        all_df.drop(column, axis=1, inplace=True)

Adding new fields...

In [19]:
all_df.head()

,age,id,gende_unknown,gende_male,gende_female,gende_other,signu_facebook,signu_basic,signu_google,signu_weibo,...,day_account_created,month_account_created,quarter_account_created,year_account_created,hour_first_active,day_first_active,month_first_active,quarter_first_active,year_first_active,created_less_active
0,-1.0,gxn3p5htnn,1,0,0,0,1,0,0,0,...,0,6,2,2010,4,3,3,1,2009,465
1,38.0,820tgsjxq7,0,1,0,0,1,0,0,0,...,2,5,2,2011,17,5,5,2,2009,731
2,56.0,4ft3gnwmtx,0,0,1,0,0,1,0,0,...,1,9,3,2010,23,1,6,2,2009,475
3,42.0,bjjt8pjhuk,0,0,1,0,1,0,0,0,...,0,12,4,2011,6,5,10,4,2009,764
4,41.0,87mebub9p4,1,0,0,0,0,1,0,0,...,1,9,3,2010,6,1,12,4,2009,279